# Forçar detecção de linguagens para as estatísticas do GitHub/GitLab
*.js linguist-language=javascript
*.jsx linguist-language=javascript
*.css linguist-language=css
*.prisma linguist-language=prisma
Dockerfile linguist-language=dockerfile
docker-compose.yaml linguist-language=yaml

# Marcar pastas de recursos ou assets como documentação/gerados 
# para não poluirem o gráfico de linguagens principal
public/**/* linguist-documentation
recusos_do_curso/**/* linguist-documentation
api/posts.json linguist-generated
prisma/migrations/**/* linguist-generated

# Garantir que arquivos de texto usem LF (Line Feed) para evitar problemas entre Windows/Linux
* text=auto eol=lf
